.top-nav{
    height: 30px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(221,221,221,.64);
    ul.top-nav-wrap {
        display: table;
        width: $width_pc;
        font-size: 0;
        li {
            float: left;
        }
        .top-nav-contact{
            width: 154px;
            padding-right: 24px;
            border-right: 1px solid #ddd;
            .icon-phone{
                float: left;
                color: #777;
                line-height: 30px;
                font-size: 15px;
            }
            .top-nav-contact-info{
                float: right;
                p{
                    line-height: 30px;
                    font-size: 11px;
                }
                p:nth-child(1){
                    color: #777;
                    display: inline-block;
                    vertical-align: middle;
                }
                p:nth-child(2){
                    color: $color_main;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: bold;
                }
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
        .top-nav-href{
            width: 272px;
            padding: 0 10px;
            display: inline-block;
            border-right: 1px solid #ddd;
            li{
                display: inline-block;
                a{
                    display: block;
                    line-height: 30px;
                    padding: 0 10px;
                    color: #777;
                    font-size: 11px;
                    &:hover{
                        color: #333;
                    }
                }
            }
            li:nth-child(1){
                a{
                    color: $color_main;
                    font-weight: bold;
                }
            }
        }
        .top-nav-social{
            padding: 0 10px;
            display: inline-block;
            border-right: 1px solid #ddd;
            li{
                display: inline-block;
                a{
                    display: block;
                    line-height: 30px;
                    padding: 0 5px;
                    span{
                        color: #777;
                        font-size: 14px;
                        line-height: 30px;
                    }
                }
            }
            li:nth-child(1){
                a{
                    &:hover{
                        span{
                            color: #4c8ac6;
                        }
                    }
                }
            }
            li:nth-child(2){
                a{
                    span{
                        font-size: 13px;
                    }
                    &:hover{
                        span{
                            color: #42529e;
                        }
                    }
                }
            }
            li:nth-child(3){
                a{
                    span{
                        font-size: 19px;
                    }
                    &:hover{
                        span{
                            color: #d85560;
                        }
                    }
                }
            }
            li:nth-child(4){
                a{
                    span{
                        font-size: 13px;
                    }
                    &:hover{
                        span{
                            color: #414e65;
                        }
                    }
                }
            }
            li:nth-child(5){
                a{
                    span{
                        font-size: 14px;
                    }
                    &:hover{
                        span{
                            color: #59d4c2;
                        }
                    }
                }
            }
            li:nth-child(6){
                a{
                    span{
                        font-size: 18px;
                    }
                    &:hover{
                        span{
                            color: #ae0a12;
                        }
                    }
                }
            }
            li:nth-child(7){
                a{
                    span{
                        font-size: 13px;
                    }
                    &:hover{
                        span{
                            color: #f29b1d;
                        }
                    }
                }
            }
        }
        #top-nav-search{
            display: inline-block;
            padding: 0 10px;
            width: 250px;
            .btn-search{
                float: left;
                span{
                    font-size: 14px;
                    line-height: 30px;
                }
            }
            .in-txt{
                float: right;
                height: 25px;
                margin: 2px 0;
                padding-left: 5px;
                border: none;
                width: 210px;
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }
        }
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
}