*{
    font-family: Roboto,Arial,sans-serif;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
.inner{
    width: $width_pc;
    clear: both;
    margin: 0 auto;
}
.btn-search{
    display: block;
    background-color: #fff;
    box-shadow: none;
    border: 0;
    span{
        color: #777;
    }
}
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    background-color: #999;
}
 
::-webkit-scrollbar-thumb {
    background-color: #444;
}
.caption-skin1{
    display: block;
    position: relative;
    span{
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        padding: 10px 20px 10px 0;
        background-color: #fff;
        z-index: 999;
        position: relative;
    }
    &:after{
        display: block;
        content: '';
        background-color: #eee;
        height: 1px;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0px;
    }
}
.caption-skin2{
    position: relative;
    padding: 14px 0 16px 0px;
    span{
        font-size: 15px;
        font-weight: bold;
        color: $color_main;
        text-transform: capitalize;
    }
    .caption-nav {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        z-index: 9999;
        border-bottom: 1px solid $color_main;
        padding: 0 6px;
        border-radius: 6px;
        li{
            display: inline-block;
            a{
                display: block;
                font-size: 12px;
                padding: 6px 2px 4px 2px;
            }
        }
    }
}